@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    background-color: black;
    user-select: none;
}

.logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white; 
}